@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
h1 {
    position: relative;
    z-index: 100;
}

#appLogo {
    top: 0;
    left: 0;
    z-index: -100;
    position: absolute;
}